<%- include('partials/header.ejs'); %>

    <body>

        <%- include('partials/nav.ejs'); %>

            <div id="main" class="center col l4 s4 m4 offset-l4">
                <input type="text">
                <a class="waves-effect waves-light btn">Calculate</a>
                <div class="col l4 m4 s4 offset-l4">
                    <h7>Result: </h7>
                </div>
                
            </div>
     

<%- include('partials/footer.ejs'); %>
