
    <div id="footer" class="valign-wrapper col l4 s4 m4 offset-l4">
        Developer: Sergio Posse
    </div>
</div>


    <script src="/bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>